body {
  background-color: #fff;
}

/*    sticky header styling       */
header {
  position: sticky;
  top: 0;
  left: 0;
  height: 180px;
  width: 100%;
  margin-top: 2.5%;
}

/* header styling     */

header .navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  background-color: #faf9f6;
  color: #0e1111;
}

header h1 {
  font-family: raleway, sans-serif;
  font-size: 55px;
}

a {
  text-decoration: none;
  color: #0e1111;
  font-family: rajdhani, sans-serif;
  font-size: 40px;
}

.navigation li {
  display: inline;
  margin: 20px;
}

.navigation ul {
  text-align: right;
  height: 100%;
  padding: 50px;
  list-style-type: none;
  margin-top: 100px;
}

.logo {
  width: 50px;
  margin-left: 36px;
}

/*       quote section styling     */

.quote {
  background-color: #fff;
  padding: 3%;
  padding-right: 20%;
  margin-top: 20px;
  margin-right: 100px;
  margin-left: 650px;
  font-family: "Source Code Pro", sans-serif;
  align-items: center;
}

h3 {
  text-align: center;
  padding-right: 30%;
  font-size: 30px;
}

/*     presentation section  styling     */

.presentation {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f1f1f1;
}

.image-position {
  flex: 0 auto;
  margin-right: 20px;
  margin-top: 10%;
}

.content {
  flex: 1;
  margin-top: 40px;
  padding-top: 20px;
  text-align: center;
  font-size: 16px;
}

.content h2 {
  margin-right: 15%;
  font-family: "Noto Sans Display", sans-serif;
}

.presentation img {
  margin-top: 75px;
  margin-left: 50%;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

/*     footer social styling     */

.social-media {
  background-color: #0e1111;
  height: 350px;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 35px;
}

.social p {
  font-family: "PT Sans Caption", sans-serif;
  font-size: 2.5rem;
  text-decoration: underline #fff;
  text-underline-offset: 0.7em;
  letter-spacing: 0.1em;
  padding: 10px;
  margin-right: 200px;
}

.mail {
  font-family: Rajdhani, sans-serif;
  font-size: 1rem;
  margin-top: 35px;
  padding-top: 10px;
}

.mail p {
  font-style: oblique;
}

.mail h3 {
  color: #fff;
  text-decoration: underline;
  letter-spacing: 0.1em;
  text-underline-offset: 0.2em;
  font-family: "PT Sans Caption", sans-serif;
  font-size: 35px;
}

.social-media img {
  height: 50px;
}

.copy {
  font-size: 0.6em;
}

/* =========== Desktop first ======== */

/* 4K screen */

/* Desktop */

/* Laptop */

@media (width <= 1024px) {
  header h1 {
    font-size: 40px;
  }

  .quote {
    width: 1014px;
    margin: 5px;
    margin-left: 135px;
  }

  .quote h3 {
    font-size: 16px;
  }

  .presentation {
    width: 1014px;
  }

  .presentation img {
    height: 120px;
    width: 120px;
    margin-left: 15px;
  }

  .presentation h2 {
    font-size: 16px;
  }
}

/* Tablet */

/* @media (width <= 768px) {
  header .navigation {
    width: 130%;
  }

  .navigation h1 {
    font-size: 30px;
  }

  .navigation a {
    font-size: 25px;
    margin-top: 15px;
  }

  .navigation ul {
    margin-top: 130px;
    margin-left: 15px;
  }

  .social-media {
    width: 130%;
  }

  .mail p h4 {
    font-size: 15px;
  }

  .mail h3 {
    font-size: 26px;
  }

  .social p {
    font-size: 26px;
  }
} */

/* Mobile L */

@media screen and (320px <= width <= 768px) {
  header .navigation {
    width: 412%;
  }

  .navigation h1 {
    font-size: 38px;
    margin-left: 30px;
  }

  .navigation a {
    font-size: 30px;
  }

  .quote {
    width: 412%;
  }

  .quote h3 {
    font-size: 25px;
  }

  .presentation {
    width: 412%;
  }

  .presentation h2 {
    font-size: 25px;
  }

  .social-media {
    width: 412%;
    height: auto;
  }

  .mail p {
    font-size: 20px;
  }

  .mail h4 {
    font-size: 25px;
  }

  .mail h3 {
    font-size: 25px;
  }

  .social p {
    font-size: 25px;
  }
}

/* Mobile M */

/* @media (width <= 375px) {
  header .navigation {
    width: 255%;
  }

  .social-media {
    width: 255%;
  }
} */
