body {
  background-color: #fff;
}

/*    sticky header styling       */
header {
  position: sticky;
  top: 0;
  left: 0;
  height: 180px;
  width: 100%;
  margin-top: 2.5%;
}

/* header styling     */

header .navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  background-color: #faf9f6;
  color: #0e1111;
}

header h1 {
  font-family: raleway, sans-serif;
  font-size: 55px;
}

a {
  text-decoration: none;
  color: #0e1111;
  font-family: rajdhani, sans-serif;
  font-size: 40px;
}

.navigation li {
  display: inline;
  margin: 20px;
}

.navigation ul {
  text-align: right;
  height: 100%;
  padding: 50px;
  list-style-type: none;
  margin-top: 100px;
}

.logo {
  width: 50px;
  margin-left: 33px;
}

/*       quote section styling     */

.quote {
  background-color: #fff;
  padding: 3%;
  padding-right: 20%;
  margin-top: 20px;
  margin-right: 100px;
  margin-left: 650px;
  font-family: "Source Code Pro", sans-serif;
  align-items: center;
}

h3 {
  text-align: center;
  padding-right: 30%;
  font-size: 30px;
}

/*     presentation section  styling     */

.presentation {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f1f1f1;
}

.image-position {
  flex: 0 auto;
  margin-right: 20px;
  margin-top: 10%;
}

.content {
  flex: 1;
  margin-top: 40px;
  padding-top: 20px;
  text-align: center;
  font-size: 16px;
}

.content h2 {
  margin-right: 15%;
  font-family: "Noto Sans Display", sans-serif;
}

.presentation img {
  margin-top: 75px;
  margin-left: 50%;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

/*     footer social styling     */

.social-media {
  background-color: #0e1111;
  height: 350px;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 35px;
}

.social p {
  font-family: "PT Sans Caption", sans-serif;
  font-size: 2.5rem;
  text-decoration: underline #fff;
  text-underline-offset: 0.7em;
  letter-spacing: 0.1em;
  padding: 10px;
  margin-right: 200px;
}

.mail {
  font-family: Rajdhani, sans-serif;
  font-size: 1rem;
  margin-top: 35px;
  padding-top: 10px;
}

.mail p {
  font-style: oblique;
}

.mail h3 {
  color: #fff;
  text-decoration: underline;
  letter-spacing: 0.1em;
  text-underline-offset: 0.2em;
  font-family: "PT Sans Caption", sans-serif;
  font-size: 35px;
}

.social-media img {
  height: 50px;
}

.copy {
  font-size: 0.6em;
}
