/*    sticky header styling       */
header {
  position: sticky;
  top: 0;
  left: 0;
  height: 300px;
  width: 100%;
  margin-top: 2.5%;
}

/* header styling     */

header .navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  background-color: #faf9f6;
  color: #0e1111;
}

header h1 {
  font-family: raleway, sans-serif;
  font-size: 55px;
}

a {
  text-decoration: none;
  color: #0e1111;
  font-family: rajdhani, sans-serif;
  font-size: 40px;
}

.navigation li {
  display: inline;
  margin: 20px;
}

.navigation ul {
  text-align: right;
  height: 100%;
  padding: 50px;
  list-style-type: none;
  margin-top: 100px;
}

.logo {
  width: 50px;
  margin-left: 36px;
}

/*    contact form styling      */

h2 {
  font-family: roboto, sans-serif;
}

p {
  font-family: roboto, sans-serif;
  font-size: 16px;
}

.font {
  text-align: center;
  font-size: 18px;
}

.contact-form {
  /* margin-top: 7%;
  margin-left: 35%;
  margin-right: 50%;
  margin-bottom: 5%; */
  margin: 3% 50% 7% 40%;
  background-color: #faf9f6;
  padding: 20px;
  border-radius: 10px;
  max-width: 450px;
  width: 100%;
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 10px;
  font-family: Rajdhani, sans-serif;
  font-size: 30px;
}

.contact-form p {
  margin-bottom: 10px;
  font-family: Rajdhani, sans-serif;
  font-size: 24px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: Rajdhani, sans-serif;
}

.contact-form input[type="text"],
.contact-form textarea {
  width: 80%;
  height: 5%;
  padding: 10%;
  border: none;
  border-radius: 5px;
  background-color: #eceaea;
  margin-bottom: 10px;
  font-size: 18px;
}

.contact-form :placeholder-shown {
  font-family: sixtyfour, sans-serif;
}

button {
  font-family: roboto, sans-serif;
}

.contact-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #eceaea;
  cursor: pointer;
  font-size: 16px;
}

.contact-form button:hover {
  background-color: black;
  color: #fff;
}

/*     footer social styling     */

.social-media {
  background-color: #0e1111;
  height: 350px;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 35px;
}

.social p {
  font-family: "PT Sans Caption", sans-serif;
  font-size: 2.5rem;
  text-decoration: underline #fff;
  text-underline-offset: 0.7em;
  letter-spacing: 0.1em;
  padding: 10px;
  margin-right: 200px;
}

.mail {
  font-family: Rajdhani, sans-serif;
  font-size: 1rem;
  margin-top: 35px;
  padding-top: 10px;
}

.mail p {
  font-style: oblique;
}

.mail h3 {
  color: #fff;
  text-decoration: underline;
  letter-spacing: 0.1em;
  text-underline-offset: 0.2em;
  font-family: "PT Sans Caption", sans-serif;
  font-size: 35px;
}

.social-media img {
  height: 50px;
}

.copy {
  font-size: 0.6em;
}

/* =========== Desktop first ======== */

/* 4K screen */

/* Desktop */

/* Laptop */

@media (width <= 1024px) {
  header h1 {
    font-size: 40px;
  }

  .contact-form {
    margin-left: 28%;
  }
}

/* Tablet */

@media (width <= 768px) {
  header h1 {
    font-size: 28px;
    margin-left: 20px;
  }

  .navigation a {
    font-size: 24px;
  }

  .navigation ul {
    margin-top: 130px;
    margin-left: 15px;
  }

  .contact-form {
    margin-left: 20%;
  }

  .social {
    margin-right: -25%;
  }
}

/* Mobile L */

@media (width <= 425px) {
  header .navigation {
    width: 120%;
  }

  header h1 {
    font-size: 20px;
    margin-left: 114px;
  }

  .navigation a {
    font-size: 20px;
  }

  .navigation ul {
    margin-top: 100px;
  }

  .contact-form {
    padding: 19px;
    margin: 30px 1px;
  }

  .social-media {
    width: 113%;
  }

  .mail p {
    font-size: 12px;
  }

  .social {
    margin-right: -15%;
  }

  .social p {
    font-size: 15px;
  }

  .mail h3 {
    font-size: 15px;
  }

  .mail h4 {
    font-size: 10px;
  }

  .mail {
    margin-left: 10px;
  }
}

/* Mobile M */
