@import url("./something.css");

body {
  background-color: #f1f1f1;
}

/*  font styling      */

h2 {
  font-family: Montserrat, sans-serif;
  color: #131212e8;
  font-size: 30px;
  font-weight: 600;
}

h3 {
  font-family: rajdhani, sans-serif;
  color: #131212e8;
  font-size: 28px;
  font-weight: 500;
}

/*    sticky header styling       */
header {
  position: sticky;
  top: 0;
  left: 0;
  height: 300px;
  width: 100%;
  margin-top: 1.5%;
}

/* header styling     */

header .navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  background-color: #faf9f6;
  color: #0e1111;
}

header h1 {
  font-family: raleway, sans-serif;
  font-size: 55px;
}

a {
  text-decoration: none;
  color: #0e1111;
  font-family: rajdhani, sans-serif;
  font-size: 40px;
}

.navigation li {
  display: inline;
  margin: 20px;
}

.navigation ul {
  text-align: right;
  height: 100%;
  padding: 50px;
  list-style-type: none;
  margin-top: 100px;
}

.logo {
  width: 50px;
  margin-left: -12px;
}

/*   upper main styling        */

.upper-main img {
  width: 1400px;
  height: auto;
}

.quote {
  font-family: Sixtyfour, sans-serif;
  font-size: 20px;
  font-style: italic;
  color: #131212e8;
  margin-top: 20px;
  margin-bottom: 20px;
}

.upper-main {
  text-align: center;
  padding-bottom: 50px;
  margin-bottom: 50px;
  color: #131212e8;
}

/*   middle main styling      */

.middle-main {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: center;
  align-items: center;
  margin-left: 1%;
  padding-bottom: 50px;
  margin-bottom: 50px;
  margin-right: 5%;
}

.middle-main div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.middle-main img {
  height: 650px;
  width: 570px;
  max-width: 100%;
}

/*  bottom main styling    */

.bottom-main {
  display: flex;
  margin-top: 50px;
  padding-top: 5%;
  padding-bottom: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
}

.content {
  display: grid;
  gap: 30px;
  margin-left: 5%;
}

.img-p {
  display: grid;
  grid-template-columns: auto 1fr;
}

.img-p img {
  width: 1400px;
  max-width: 100%;
}

.marg {
  margin-left: 10px;
}

.center {
  display: block;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.calc {
  margin-left: 15px;
}

/*     footer social styling     */

.social-media {
  background-color: #0e1111;
  height: 350px;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 35px;
}

.social p {
  font-family: "PT Sans Caption", sans-serif;
  font-size: 2.5rem;
  text-decoration: underline #fff;
  text-underline-offset: 0.7em;
  letter-spacing: 0.1em;
  padding: 10px;
  margin-right: 200px;
}

.mail {
  font-family: Rajdhani, sans-serif;
  font-size: 1rem;
  margin-top: 35px;
  padding-top: 10px;
}

.mail p {
  font-style: oblique;
}

.mail h3 {
  color: #fff;
  text-decoration: underline;
  letter-spacing: 0.1em;
  text-underline-offset: 0.2em;
  font-family: "PT Sans Caption", sans-serif;
  font-size: 35px;
}

.social-media img {
  height: 50px;
}

.copy {
  font-size: 0.6em;
}
